<footer>
  <div class="container pl-lg-4 pr-lg-4">
    <div class="d-flex justify-content-between align-items-center text-muted ml-md-3 mr-md-3">
      <div class="footer-left">
        <p class="mb-0">
          © 2023
          <a href="https://www.linkedin.com/in/joseph-sokol-ab5515126/">Joseph Z. Sokol</a>.

          <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Except where otherwise noted, the blog posts on this site may not be copied without owner's permission.">Rights reserved.</span>

        </p>
      </div>

      <div class="footer-right">
        <p class="mb-0">{{ site.description | escape }}
        </p>
      </div>
    </div>
  </div>
</footer>
