---
layout: page
# The Home page layout
---

<div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 pl-3 pr-3 pr-xl-4 mt-5">
  <div id="related-posts" class="mb-2 mb-sm-4">
    <h3 class="pt-2 mb-4 ml-1" data-toc-skip="">Find Publications</h3>
    <div class="card-deck mb-4">
      <div class="card">
        <a target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S0894731723000147?dgcid=coauthor" style="border-bottom: 0px;">
          <div class="card-body">
            <em class="small">April, 2023</em>
            <h3 class="pt-0 mt-1 mb-3" data-toc-skip="">Automated Detection of Aortic Stenosis Using Machine Learning</h3>
            <div class="text-muted small">
              <p>
                Aortic stenosis (AS) is a degenerative valve condition that is underdiagnosed and undertreated. Detection of AS using limited two-dimensional echocardiography could enable screening and improve appropriate referral and treatment of this condition. The aim of this study was to develop methods for automated detection of AS from limited imaging data sets. Read more ...
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- <div class="card">
        <a href="/posts/about-me/">
          <div class="card-body">
            <em class="small">-- --</em>
            <h3 class="pt-0 mt-1 mb-3" data-toc-skip="">-- --</h3>
            <div class="text-muted small">
              <p>-- --
              </p>
            </div>
          </div>
        </a>
      </div> -->

    </div> <!-- .card-deck -->
  </div> <!-- #related-posts -->





      <!--  The comments switcher -->



  </div>
